[Unit]
Description=Matrix Abstraction Layer for OS

[Service]
Type=simple
ExecStart=/usr/bin/malos

[Install]
WantedBy=multi-user.target
After=matrix-creator-firmware.service
