[Unit]
Description=Matrix Abstraction Layer for OS
After=matrixio-creator-firmware.service

[Service]
Type=simple
ExecStart=/usr/bin/malos

[Install]
WantedBy=multi-user.target
